<a href="https://colab.research.google.com/github/gsanc018/Financial-ML/blob/master/chapter_02_exercises/exercise_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Getting Data for Exercises

In [0]:
#Packages
import pandas as pd
from datetime import datetime

pip install mlfinlab
from mlfinlab.data_structures.standard_data_structures import get_tick_bars, get_dollar_bars, get_volume_bars

In [0]:
#Get Raw Data
data = pd.read_csv("https://api.bitcoincharts.com/v1/csv/krakenUSD.csv.gz", header = None)
data.columns = ['timestamp', 'price', 'volume']
data['timestamp'] = pd.to_datetime(data['timestamp'],unit='s')
ticks = len(data)
print(ticks)

On a series of BTCUSD tick data:

#(a) 
Form tick, volume, and dollar bars.

In [0]:
#Make dataset smaller
btc = data[-1000000:]
btc.head()

In [43]:
tick_bars = get_tick_bars(btc, threshold=10000,batch_size=1000000)
print(tick_bars.shape)
tick_bars.head()

Reading data in batches:
Batch number: 0
Returning bars

(100, 10)

            date_time  tick_num  ...  cum_ticks  cum_dollar_value
0 2019-10-29 13:32:25     10000  ...      10000      3.484177e+07
1 2019-10-30 00:17:49     20000  ...      10000      3.511051e+07
2 2019-10-30 15:59:03     30000  ...      10000      3.030075e+07
3 2019-10-31 09:05:52     40000  ...      10000      2.413041e+07
4 2019-10-31 12:31:31     50000  ...      10000      1.377889e+07

[5 rows x 10 columns]

In [44]:
volume_bars = get_volume_bars(btc, threshold = 5, batch_size = 1000000)
print(volume_bars.shape)
volume_bars.head()

Reading data in batches:
Batch number: 0
Returning bars

(57924, 10)

            date_time  tick_num  ...  cum_ticks  cum_dollar_value
0 2019-10-28 22:33:53        16  ...         16      52593.965738
1 2019-10-28 22:38:15        54  ...         38      56200.985867
2 2019-10-28 22:41:11        74  ...         20      52867.153021
3 2019-10-28 22:42:52        99  ...         25      51199.556214
4 2019-10-28 22:48:52       132  ...         33      51419.238758

[5 rows x 10 columns]

In [45]:
dollar_bars = get_dollar_bars(btc,threshold=10000, batch_size = 1000000)
print(dollar_bars.shape)
dollar_bars.head()

Reading data in batches:
Batch number: 0
Returning bars

(156146, 10)

            date_time  tick_num  ...  cum_ticks  cum_dollar_value
0 2019-10-28 22:33:44        12  ...         12      22244.388191
1 2019-10-28 22:33:53        16  ...          4      30349.577547
2 2019-10-28 22:34:06        18  ...          2      14502.411000
3 2019-10-28 22:35:44        32  ...         14      18254.804271
4 2019-10-28 22:38:15        54  ...         22      23443.770596

[5 rows x 10 columns]

#(b) 
Count the number of bars produced by tick, volume, and dollar bars on a weekly basis.

In [50]:
tick_idx = tick_bars.set_index('date_time', inplace=False)
tick_count = tick_idx['close'].resample('W', label='right').count()
tick_count

date_time
2019-11-03     8
2019-11-10     8
2019-11-17     7
2019-11-24    11
2019-12-01    12
2019-12-08     9
2019-12-15     7
2019-12-22     9
2019-12-29     7
2020-01-05     9
2020-01-12    13
Freq: W-SUN, Name: close, dtype: int64

In [51]:
dollar_idx = dollar_bars.set_index('date_time', inplace=False)
dollar_count = dollar_idx['close'].resample('W', label='right').count()
dollar_count

date_time
2019-11-03    13011
2019-11-10    12471
2019-11-17     9880
2019-11-24    18134
2019-12-01    19557
2019-12-08    12934
2019-12-15    10601
2019-12-22    14719
2019-12-29    12055
2020-01-05    11044
2020-01-12    21740
Freq: W-SUN, Name: close, dtype: int64

In [74]:
volume_idx = volume_bars.set_index('date_time', inplace=False )
volume_count = volume_idx['close'].resample('W', label='right').count()
volume_count

date_time
2019-11-03    4182
2019-11-10    3987
2019-11-17    3357
2019-11-24    6813
2019-12-01    7594
2019-12-08    4909
2019-12-15    4177
2019-12-22    5976
2019-12-29    4765
2020-01-05    4314
2020-01-12    7850
Freq: W-SUN, Name: close, dtype: int64

In [88]:
np.array(volume_count)

array([4182, 3987, 3357, 6813, 7594, 4909, 4177, 5976, 4765, 4314, 7850])

In [0]:
import matplotlib.pyplot as plt
plt.plot([1,2,3,4])
plt.show()